main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
    padding-top:10dvh;

    .poke-card {
        width:230px;
        margin-top: 30px;
        margin-bottom:50px;
        margin-left:1dvw;
        margin-right:1dvw;
        position:relative;
        .poke-thumbnail {
            width:50%;
            // margin-left:auto;
            // margin-right:auto;
            position:absolute;
            top: -40%;
            left: 25%;
            margin-bottom:1dvh;
        }
        .fav {
            position: absolute;
            height: 30px;
            width: 30px;
            right: 10px;
            top: 10px;

            &:hover {
                cursor:pointer;
                transform: scale(110%);
                transition: ease-in-out 0.4s
            }
        }

        .poke-details {
            background-color:$white;
            text-align:center;
            font-family: $mainfont;
            padding-top:25%;
            margin-top:1dvh;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            border-radius: 25px;
            padding-bottom: 1dvh;

            .poke-id {
                font-size: 0.7rem;
                color:$darkgray;
            }

            .poke-name {
                font-weight: bold;
                font-size: 1.1rem;
            }
        }
    }
}