.pokemon-details {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $mainfont;
    flex-wrap: nowrap;
    margin: 4vh 2vw;
    overflow:hidden;
    border: 1px solid red;

    .detailsleft {
        width: 50%;
        color:$darkgray !important;
        text-decoration: none !important;
        .infosBlock {
            border-radius:25px;
            padding:1rem;
            background-color:$white;
            display:flex;
            flex-direction: column;
        } 
        .details-types {
            margin: 10px 0 20px 0;
            display: flex;
            gap: 10px;
            text-align: center;
            font-weight: bold;
            > p {
                width:120px;
                border-radius:10px;
                display:block;
                padding: 1dvh;
            }
        }
        .evolution {
            border-radius:25px;
            padding:1rem;
            background-color:$white;
            display:flex;
            // flex-direction: row;
            justify-content: space-evenly;
            gap: 10px;
            margin-top:3dvh;
            color:$darkgray !important;
            text-decoration: none !important;
            overflow-x:auto;
            .evolution-card {
                color:$darkgray !important;
                text-decoration: none !important;
                a {
                    color:$darkgray !important;
                text-decoration: none !important;
                }

                .evolPic {
                    background-color: $lightgray;
                    border-radius: 50%;;
                    padding:1rem;
                    width: 100px;
                    height: 100px;
                }
                p {
                    text-align:center;
                    color:$darkgray !important;
                    text-decoration: none !important;
                }
            }
        }
    }

    .detailsright {
        position: relative;
        width:40%;
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

        img {
            width: 60%;
            display:block;
        }
        .pokeDescri {
            background-color: $white;
            padding:1rem;
            border-radius:25px;
            text-align:justify;
        }
    }
    @include mobile{
        flex-direction: column-reverse;
        align-items:center;

        gap: 5vh;
        &>*, .detailsleft, .detailsright {
            justify-content:center;
            width : 95%;
            margin-right: 0;
        }
        .detailsright {
            align-self:center;
        }
    }
}


.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.stat-bar {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 95%;
}

.stat-bar span {
    width: 20%;
    text-align: left;
}

.bar {
    width: 80%;
    background-color: #eee;
    border-radius: 5px;
    margin-left: 10px;
    position: relative;
}

.bar-fill {
    height: 15px;
    background-color: #4caf50;
    border-radius: 5px;
}

.pokeId {
    position:absolute;
    width: 90%;
    height: 80%;
    font-size: 8rem;
    z-index:-1;
    font-weight: bolder;
    text-wrap:nowrap;
    color: rgb(167, 165, 165);
    top: -25px;
    right: -10px;
}

.current {
    filter: grayscale(0.8);
}