$white:#fff;
$black:#000;
$lightgray:#ccc;
$darkgray: #3c5aa6;
// $darkgray:#363636;
$mainfont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;