/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 2dvh;
  margin-bottom: 2dvh;
  background-color: #ccc;
}
header #pkmLogo {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4dvh;
}
@media screen and (max-width: 768px) {
  header #pkmLogo {
    width: 60%;
  }
}
header #navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 30%;
  padding-right: 30%;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (max-width: 768px) {
  header #navbar {
    padding-left: 5%;
    padding-right: 5%;
  }
}
header #navbar .navbarLink {
  text-decoration: none;
  padding: 3vh 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  font-size: 1.3rem;
  color: #363636;
}
@media screen and (max-width: 768px) {
  header #navbar .navbarLink {
    font-size: 1rem;
  }
}
header #navbar .active {
  font-weight: bold;
  border-bottom: 5px solid rgb(255, 205, 3);
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 5dvh;
}
main .poke-card {
  width: 230px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 1dvw;
  margin-right: 1dvw;
  position: relative;
}
main .poke-card a {
  text-decoration: none !important;
}
main .poke-card .poke-thumbnail {
  width: 50%;
  position: absolute;
  top: -40%;
  left: 25%;
  margin-bottom: 1dvh;
}
main .poke-card .fav {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 15px;
  top: 15px;
}
main .poke-card .fav:hover {
  cursor: pointer;
  transform: scale(110%);
  transition: ease-in-out 0.4s;
}
main .poke-card .poke-details {
  background-color: #fff;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  padding-top: 25%;
  margin-top: 1dvh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 25px;
  padding-bottom: 1dvh;
}
main .poke-card .poke-details .poke-id {
  font-size: 0.7rem;
  color: #363636 !important;
}
main .poke-card .poke-details .poke-name {
  font-weight: bold;
  font-size: 1.1rem;
  color: #363636 !important;
}

.details-link:hover img {
  filter: brightness(110%);
  transition: ease-in-out 0.4s;
}
.details-link:hover img, .details-link:hover p {
  transform: scale(105%);
  transition: ease-in-out 0.4s;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}
.pagination .active {
  font-weight: bold;
}

.poke-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8em;
}

.Normal {
  background-color: #a0a2a0;
  color: #454545;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Fire {
  background-color: #ef3838;
  color: #580e0e;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Fighting {
  background-color: #ff8000;
  color: #422100;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Water {
  background-color: #297ff0;
  color: #0f325e;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Flying {
  background-color: #81baf0;
  color: #33495f;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Grass {
  background-color: #3ea128;
  color: #194110;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Poison {
  background-color: #a957e4;
  color: #451568;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Electric {
  background-color: #ffce2c;
  color: #876700;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Ground {
  background-color: #915221;
  color: #f4be95;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Psychic {
  background-color: #f04178;
  color: #53172a;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Rock {
  background-color: #b0aa82;
  color: #585541;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Ice {
  background-color: #3dcef2;
  color: #174c5a;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Bug {
  background-color: #b9cc24;
  color: #4c540e;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Dragon {
  background-color: #5162e0;
  color: #a6aeec;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Ghost {
  background-color: #704170;
  color: #e7a1e7;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Dark {
  background-color: #614d4e;
  color: #ddc5c6;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Steel {
  background-color: #5fa0b8;
  color: #28444e;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

.Fairy {
  background-color: #f071f0;
  color: #6f356f;
  padding: 1dvh;
  text-align: center;
  font-weight: bold;
  width: 35%;
  border-radius: 10px;
  display: block;
}

footer {
  width: 100%;
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #363636;
  margin-top: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}
footer a {
  color: #363636;
  text-decoration: none;
}
footer .githubLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}
footer .githubLinks img {
  width: 1.5rem;
  filter: invert(21%) sepia(0%) saturate(1386%) hue-rotate(210deg) brightness(86%) contrast(89%);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.loginPage {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  margin: 3em auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 25px;
  padding: 3dvh 1dvw;
  color: #363636;
}
@media screen and (max-width: 768px) {
  .loginPage {
    width: 90%;
  }
}
.loginPage h2 {
  text-align: center;
  margin-bottom: 1dvh;
}
.loginPage form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginPage form label {
  margin-bottom: 1dvh;
}
.loginPage form input {
  width: 90%;
  background-color: #ccc;
  margin-bottom: 1dvh;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #363636;
}
.loginPage form button {
  border-radius: 5px;
  border: 1px solid #363636;
  padding: 0.8rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1dvh;
  margin-top: 3dvh;
}
@media screen and (max-width: 768px) {
  .loginPage form button {
    width: 40%;
  }
}
.loginPage p {
  text-align: center;
  margin-top: 1rem;
}
.loginPage p a {
  color: #363636 !important;
}
.loginPage p a:hover {
  font-style: italic;
}
.loginPage p a:link, .loginPage p a:visited, .loginPage p a:hover, .loginPage p a:active {
  color: #363636 !important;
}

.greet {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 27px;
  width: 90vw;
  margin-bottom: 8vh;
  gap: 1vh;
}
.greet button {
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #363636;
  padding: 0.4rem 0.8rem;
}
.greet button:hover {
  cursor: pointer;
}

.section-title {
  margin-bottom: 8vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  justify-content: center;
  font-weight: normal;
  display: flex;
  font-size: 25px;
  width: 100vw;
}

.registerForm {
  width: 45%;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 25px;
  padding-top: 3dvh;
  padding-bottom: 3dvh;
  padding-left: 1dvw;
  padding-right: 1dvw;
  color: #363636;
}
@media screen and (max-width: 768px) {
  .registerForm {
    width: 90%;
  }
}
.registerForm h2 {
  text-align: center;
  margin-bottom: 1dvh;
}
.registerForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registerForm form label {
  margin-bottom: 1dvh;
}
.registerForm form input {
  width: 90%;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ccc;
  margin-bottom: 1dvh;
  border: 1px solid #363636;
}
.registerForm form button {
  border-radius: 5px;
  border: 1px solid #363636;
  padding: 0.8rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1dvh;
  margin-top: 3dvh;
}
@media screen and (max-width: 768px) {
  .registerForm form button {
    width: 40%;
  }
}
.registerForm p {
  text-align: center;
  margin-top: 1rem;
}
.registerForm p a {
  color: #363636 !important;
}
.registerForm p a:hover {
  font-style: italic;
}
.registerForm p a:link, .registerForm p a:visited, .registerForm p a:hover, .registerForm p a:active {
  color: #363636 !important;
}

.error {
  width: 90%;
  display: flex;
  background-color: rgba(207, 132, 132, 0.5);
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 5px;
}/*# sourceMappingURL=styles.css.map */